#text_domain wesnoth-Defence_of_Elensefar
[scenario]
    id="02_Epilogue"
    name= _ "Epilogue"
    {NO_MAP_DATA}
    turns=unlimited
    next_scenario=null

    {DEFAULT_SCHEDULE}

    [story]
        {DOE_EPILOGUE}
    [/story]

    [event]
        name=prestart
        [endlevel]
            carryover_report=no
            replay_save=no
            linger_mode=no
        [/endlevel]
    [/event]

    [side]
        controller="human"
        team_name="Heroes"
        user_team_name= _ "Elensefar"
        color=green
        id=Methor
        name= _ "Methor"
        facing="ne"
        type="Iron Mauler"
        [modifications]
            {TRAIT_AGED}
            {TRAIT_INTELLIGENT}
        [/modifications]
    [/side]
[/scenario]
