#textdomain wesnoth-Defence_of_Elensefar

[achievement_group]
    display_name=_"Defence of Elensefar"
    content_for=WoL_Defending_Halostrand

    # scenario completed
    [achievement]
        id=WoL_Defending_Halostrand_Scenario
        name= _ "Defender of Halostrand"
        description= _ "Complete the scenario <i>Defending Halostrand</i>."
        icon="data/core/images/icons/potion_green_small.png"
    [/achievement]

    # highest difficulty done
    [achievement]
        id=WoL_Defending_Halostrand_Scenario_Difficult
        name= _ "Grand Defender of Halostrand"
        description= _ "Complete the scenario <i>Defending Halostrand</i> on the <i>Sentinel</i> Difficulty."
        icon="data/core/images/icons/potion_green_small.png"
    [/achievement]
[/achievement_group]