#textdomain wesnoth-Defence_of_Elensefar

[achievement_group]
    display_name=_"Defence of Elensefar"
    content_for=WoL_Defence_of_Elensefar

    # scenario completed
    [achievement]
        id=WoL_Defence_of_Elensefar_Scenario
        name= _ "Defender of Elensefar"
        description= _ "Complete the scenario <i>Defence of Elensefar</i>."
        icon="data/core/images/icons/potion_green_small.png"
    [/achievement]

    # highest difficulty done
    [achievement]
        id=WoL_Defence_of_Elensefar_Difficult
        name= _ "Grand Defender of Elensefar"
        description= _ "Complete the scenario <i>Defence of Elensefar</i> on the <i>Nightmare</i> Difficulty."
        icon="data/core/images/icons/potion_green_small.png"
    [/achievement]
[/achievement_group]