#textdomain wesnoth-Defence_of_Elensefar

#define ACHIEVEMENT_ICON_UNIT _UNIT_IMAGE
"attacks/blank-attack.png~SCALE(72,72)~BLIT({_UNIT_IMAGE}~RC(magenta>red), 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-8-grey.png,0,0)"
#enddef

#define ACHIEVEMENT_ICON_MISC _ICON_IMAGE
"attacks/blank-attack.png~SCALE(72,72)~BLIT({_ICON_IMAGE}, 0, 0)~BLIT(data/core/images/misc/achievement-frames/frame-8-grey.png,0,0)"
#enddef

#define ACHIEVEMENT_ICON_ATTACK _ATK_IMAGE
"{_ATK_IMAGE}~SCALE(72,72)~BLIT(data/core/images/misc/achievement-frames/frame-8-grey.png,0,0)"
#enddef

[achievement_group]
    display_name=_"Defence of Elensefar"
    content_for=WoL_Defence_of_Elensefar

    # scenario completed
    [achievement]
        id=WoL_Defence_of_Elensefar_Scenario
        name= _ "Defender of Elensefar"
        description= _ "Complete the scenario <i>Defence of Elensefar</i>."
        icon={ACHIEVEMENT_ICON_ATTACK ("data/core/images/attacks/sword-holy.png")}
    [/achievement]

    # highest difficulty done
    [achievement]
        id=WoL_Defence_of_Elensefar_Difficult
        name= _ "Grand Defender of Elensefar"
        description= _ "Complete the scenario <i>Defence of Elensefar</i> on the <i>Nightmare</i> Difficulty."
        icon={ACHIEVEMENT_ICON_ATTACK ("data/core/images/attacks/sword-holy.png")}
    [/achievement]

    [achievement]
        id=WoL_Defence_of_Elensefar_black_knight_S1
        name=_"???"
        name_completed=_"Rider of Dread"
        description=_"Enough is enough."
        description_completed=_"Advanced Lord Karyk to the Black Knight in <i>Defence of Elensefar</i>."
        icon={ACHIEVEMENT_ICON_ATTACK (data/core/images/attacks/lance.png)}
    [/achievement]
    
[/achievement_group]