# wmllint: no translatables

#define SILENTLY_LIMIT_LEADER_MOVES SIDE MVES
    # don't allow AI leaders to be baited far from their keeps
    # modify per-turn instead of max-moves so that the player can't see it
    {SILENTLY_LIMIT_MOVES {SIDE} canrecruit=yes {MVES}}
#enddef

#define SILENTLY_LIMIT_MOVES SIDE FLT MVES
    [event]
        name=side {SIDE} turn refresh
        first_time_only=no
        [modify_unit]
            [filter]
                side={SIDE}
                {FLT}
            [/filter]
            moves={MVES}
        [/modify_unit]
    [/event]
#enddef